<div class="main-container">
    <%= link_to user_path(user), class: "user-card " do %>
    <img class="picture" src="<%= user.pola_face %>" alt="">
    <h1 class= "titre"><%= user.first_name %> <%= user.last_name %></h1>
    <h2><%= user.age %></h2>
    <h3><%= user.city %></h3>
    <% end %>
</div>
