<%= render 'components/navbar' %>

<div class= "main-container">
  <div class="flex justify-center mb-4 mt-20">
    <p class="text-4xl font-extrabold dark:text-black">Auditions</p>
  </div>

  <div class="">
    <div class="p-4 flex justify-end">
      <%= link_to "+ Ajouter une audition", new_audition_path, class:"btn bg-brown" %>
    </div>

    <% if @auditions.present? %>
      <div class="audition-container block bg-white">
        <ul>
          <% @auditions.each do |audition| %>
            <li class="mb-4">
              <h2 class="text-2xl font-extrabold dark:text-black"><%= link_to audition.name, audition_path(audition) %></h1>
              <p><%= audition.date %></p>
              <p><%= audition.description %></p>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <p class="text-gray-500">Aucune audition disponible.</p>
    <% end %>
  </div>
</div>

<%= render "components/footer"%>
