<%= render "components/navbar" %>

<div class= "main-container">
  <h1 class="text-4xl font-extrabold dark:text-black">Nom de l'audition: <%= @audition.name %></h1>
  <p class="text-2xl font-extrabold dark:text-black">Description de l'audition:</p>
  <% if @audition.description.present? %>
    <p><%= @audition.description %></p>
  <% else %>
    <p>Aucune description n'est disponible.</p>
  <% end %>

  <% if @audition.audition_tags.present? %>
    <h2>Critères obligatoires:</h2>
    <ul>
      <% @audition.audition_tags.where(required: true).each do |audition_tag| %>
        <li><strong><%= audition_tag.tag.name %></strong>: <%= audition_tag.tag.value %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucun critère obligatoire n'est associé à cette audition.</p>
  <% end %>

  <% if @audition.audition_tags.present? %>
    <h2>Critères optionnels:</h2>
    <ul>
      <% @audition.audition_tags.where(required: false).each do |audition_tag| %>
        <li><strong><%= audition_tag.tag.name %></strong>: <%= audition_tag.tag.value %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucun critère optionnel n'est associé à cette audition.</p>
  <% end %>

  <%= link_to "Retour", auditions_path, class: 'text-blue-500 hover:text-blue-700' %>
  <%= link_to "Modifier", edit_audition_path(@audition), class: 'text-blue-500 hover:text-blue-700' %>
  <%= link_to "- Supprimer", audition_path(@audition), method: :delete, data: { confirm: "Etes-vous sûre de vouloir supprimer cette audition ?" }, class: 'text-red-500 hover:text-red-700' %>
  <%= link_to "+ Ajouter une audition", new_audition_path, class: 'text-blue-500 hover:text-blue-700' %>
  <%# <%= link_to "soumettre", audition_artists_path  %>
</div>

<%= render "components/footer" %>
