<h1><strong>Nom de l'audition : </strong><%= @audition.name %></h1>

<h3><strong>Description de l'audition :</strong></h3>
<% if @audition.description.present? %>
  <p><%= @audition.description %></p>
<% else %>
  <p>Aucune description disponible.</p>
<% end %>


<% if @audition.audition_tags.present? %>
  <h2>Critères obligatoires :</h2>
  <ul>
    <% @audition.audition_tags.where(required: true).each do |audition_tag| %>
      <li><strong><%= audition_tag.tag.name %></strong>: <%= audition_tag.tag.value %></li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun critère obligatoire associé à cette audition.</p>
<% end %>

<% if @audition.audition_tags.present? %>
  <h2>Critères secondaires :</h2>
  <ul>
    <% @audition.audition_tags.where(required: false).each do |audition_tag| %>
      <li><strong><%= audition_tag.tag.name %></strong>: <%= audition_tag.tag.value %></li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun critère secondaire associé à cette audition.</p>
<% end %>

<%= link_to "Retour", auditions_path, class: 'text-blue-500 hover:text-blue-700' %>
<%= link_to "Modifier", edit_audition_path(@audition), class: 'text-blue-500 hover:text-blue-700' %>
<%= link_to "Supprimer", audition_path(@audition), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette audition ?" }, class: 'text-red-500 hover:text-red-700' %>
<%= link_to "Ajouter une audition", new_audition_path, class: 'text-blue-500 hover:text-blue-700' %>
<%# <%= link_to "soumettre", audition_artists_path  %>
