<%= render "components/navbar" %>

<div class="main-container align-center mx-auto">
  <div class="justify-center mb-4 mt-20">
    <!---- Nom de l'audition ------->

    <h1 class="text-4xl font-extrabold dark:text-black text-center mb-12 mt-6"><%= @audition.name %></h1>
    <!------  Description de l'audition --------->
    <div class="form-container bg-white flex-col">
      <div class="mb-4">
        <p class="text-2xl font-extrabold dark:text-black">Description de l'audition:</p>
        <% if @audition.description.present? %>
        <p class="ml-8"><%= @audition.description %></p>
        <% else %>
        <p class="italic text-gray-500">Aucune description n'est disponible.</p>
        <% end %>
      </div>
      <!-------- Critères obligatoire --------->
        <% if @audition.audition_tags.present? %>
        <div class="mb-4">
          <h2>Critères obligatoires:</h2>
          <ul>
            <% @audition.audition_tags.where(required: true).each do |audition_tag| %>
            <li><strong><%= audition_tag.tag.name %></strong>: <%= audition_tag.tag.value %></li>
            <% end %>
          </ul>
        </div>

        <% else %>
          <p class="italic text-gray-500">Aucun critère obligatoire associé à cette audition.</p>
        <% end %>
      <!-------- Critères secondaires --------->
        <% if @audition.audition_tags.present? %>
        <div class="mb-4">
          <h2>Critères optionnels:</h2>
          <ul>
          <% @audition.audition_tags.where(required: false).each do |audition_tag| %>
          <li><strong><%= audition_tag.tag.name %></strong>: <%= audition_tag.tag.value %></li>
          <% end %>
          </ul>
        </div>

        <% else %>
          <p class="italic text-gray-500">Aucun critère secondaire associé à cette audition.</p>
        <% end %>




      <%= link_to "Modifier", edit_audition_path(@audition), class: 'text-blue-500 hover:text-blue-700' %>
      <%= link_to "- Supprimer", audition_path(@audition), method: :delete, data: { confirm: "Etes-vous sûre de vouloir supprimer cette audition ?" }, class: 'text-red-500 hover:text-red-700' %>
      <%# <%= link_to "soumettre", audition_artists_path  %>
    </div>
  </div>
      <%= link_to "Retour à la liste des auditions", auditions_path, class: 'text-blue-500 hover:text-blue-700' %>
      <%= link_to "+ Ajouter une audition", new_audition_path, class: 'text-blue-500 hover:text-blue-700' %>
</div>

<%= render "components/footer" %>
