<%= render "components/navbar" %>

<div class="main-container-home">
  <div class="flex justify-center mb-4 mt-20">
    <p class="text-4xl font-extrabold dark:text-black"><%= @user.first_name.capitalize %> <%= @user.last_name.upcase %></p>
  </div>

  <div class="content">
    <div class="left">
      <div>
        <div>
          <h2>📞 Contact</h2>
          <table class="size-full">
            <tbody>
              <tr>
                <th scope="row">E-mail</th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th scope="row">Téléphone</th>
                <td>0<%= @user.phone_number %></td>
              </tr>
              <tr>
                <th scope="row">Adresse</th>
                <td><%= @user.address %></td>
              </tr>
              <tr>
                <th scope="row">Grande ville la plus proche</th>
                <td><%= @user.city %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h2>💬 Informations</h2>
            <table class="size-full">
              <tbody>
                <tr>
                  <th scope="row">Sexe</th>
                  <td><%= @user.sexe.upcase %></td>
                </tr>
                <tr>
                  <th scope="row">Date de naissance</th>
                  <td><%= @user.birth_date %></td>
                </tr>
                <tr>
                  <th scope="row">Langues parlées</th>
                  <td><%= @user.languages %></td>
                </tr>
                <tr>
                  <th scope="row">Permis de conduire</th>
                  <td><%= @user.permis_de_conduire %></td>
                </tr>
              </tbody>
            </table>
          <h2>🥇 Compétences</h2>
            <table class="size-full">
              <tbody>
                <tr>
                  <th scope="row">Sport</th>
                  <td><%= @user.sport %></td>
                </tr>
                <tr>
                  <th scope="row">Musique</th>
                  <td><%= @user.musique %></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="user-card-on-profile">
        <%= image_tag @user.pola_face, class: "picture-on-profile" if @user.pola_face %>

        <div class="mt-3 max-content">
          <p><%= link_to"Portfolio", @user.portfolio, class: "btn bg-brown btn-show-artist", target: "_blank" %></p>
          <p><%= link_to"Instagram", @user.social_link, class: "btn bg-brown btn-show-artist", target: "_blank" %></p>
          <p><%= link_to"Présentation vidéo", @user.presentation_video, class: "btn bg-brown btn-show-artist", target: "_blank" %></p>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <%= link_to "Modifier le profil", edit_artist_path(@user), class: "btn bg-white" %>
        <%= link_to "Supprimer le profil", artist_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer ce profil?' }, class: "" %>
      </div>

    </div>
  </div>

  <div class="middle">
    <h2>⭐ Physique</h2>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <table class="size-notfull">
            <tbody>
              <tr>
                <th scope="row">Piercing</th>
                <td><%= @user.piercing %></td>
              </tr>
              <tr>
                <th scope="row">Couleur de cheveux</th>
                <td><%= @user.couleur_de_cheveux %></td>
              </tr>
              <tr>
                <th scope="row">Couleur des yeux</th>
                <td><%= @user.couleur_yeux %></td>
              </tr>
              <tr>
                <th scope="row">Pointure</th>
                <td><%= @user.taille_chaussures %></td>
              </tr>
              <tr>
                <th scope="row">Taille</th>
                <td><%= @user.taille %> cm</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <table class="size-notfull">
            <tbody>
              <tr>
                <th scope="row">Taille de haut</th>
                <td><%= @user.taille_haut %></td>
              </tr>
              <tr>
                <th scope="row">Taille de bas</th>
                <td><%= @user.taille_bas %></td>
              </tr>
              <tr>
                <th scope="row">Tour de buste</th>
                <td><%= @user.tour_de_buste %> cm</td>
              </tr>
              <tr>
                <th scope="row">Tour de taille</th>
                <td><%= @user.tour_de_taille %> cm</td>
              </tr>
              <tr>
                <th scope="row">Tour de hanches</th>
                <td><%= @user.tour_de_hanches %> cm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <div class="pictures-show-user">
    <% if @user.pola_3_4.present? %>
      <img src="<%= @user.pola_3_4 %>" alt="pola 3/4">
    <% end %>
    <% if @user.pola_silhouette.present? %>
      <img src="<%= @user.pola_silhouette %>" alt="pola silhouette">
    <% end %>
    <% if @user.pola_mains.present? %>
      <img src="<%= @user.pola_mains %>" alt="pola mains">
    <% end %>
  </div>
</div>



<%= render "components/footer"%>
