<%= render "components/navbar" %>

<div class="main-container-home">
  <%#card a droite%>
  <div class="titre text-center">

    <h1 class="text-4xl font-extrabold dark:text-black" style="white-space: nowrap;"><%= @user.first_name.capitalize %> <%= @user.last_name.upcase %></h1>
  </div>

  <div class="content">
    <div class="left">
    </div>

    <div class="user-card-on-profile">
      <%= image_tag @user.pola_face, class: "picture-on-profile" if @user.pola_face %>

      <div class="mt-4">
        <%= link_to"Portfolio", @user.portfolio, class: "btn bg-brown", target: "_blank" %>
        <%= link_to"Réseau social", @user.social_link, class: "btn bg-brown", target: "_blank" %>
      </div>
    </div>
  </div>

  <div>
    <%# mettre les reponses du formulaire dans cette div%>
  </div>
</div>

<%= render "components/footer"%>
