<%= render "components/navbar" %>
<div class="flex">
  <%#Message de bienvenue%>
  <div class= "flex-auto w-32 m-8">
    <h1 class="text-4xl font-extrabold dark:text-black"> Hello Anne-Sophie,</h1>
    <p class="text-2xl font-extrabold dark:text-black"> Bienvenue sur The Right One ! 🎬</p>
  </div>
  <%#Les trois elements %>
  <div class="flex-wrap">
    <%# Caroussel des artistes (toute la base de donnée)%>
    <div class="">
      <%= render "components/card" %>
    </div>
    <%# Element de droite %>
    <div>
      <%# Card des dernières auditions %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg flex">
        <div>
          <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-black">Auditions les plus récentes</h2>
          <div>
            <ul class="max-w-md space-y-1 text-gray-500 list-none list-inside dark:text-black">
              <% @auditions.each do |audition| %>
                <li>
                  <div class="flex items-center space-x-4 rtl:space-x-reverse">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-black">
                        <%= audition.name%>
                      </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-black">
                      <%= audition.date%>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex items-center space-x-4 rtl:space-x-reverse">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-black">
                        <%= audition.name%>
                      </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-black">
                      <%= audition.date%>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex items-center space-x-4 rtl:space-x-reverse">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-black">
                        <%= audition.name%>
                      </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-black">
                      <%= audition.date%>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
        <button type="button" class="rounded-full bg-terracotta-600 px-3 py-1.5 text-sm font-semibold text-black shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600">+ Ajouter une audition</button>
      </div>
      <%# card des derniers artistes inscrits %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg flex">
        <p><%= @users.count %></p>
        <button type="button" class="rounded-full bg-white px-3 py-1.5 text-sm font-semibold text-terracotta-600 shadow-sm ring-1 ring-inset ring-terracotta-600 hover:bg-terracotta-50">+ Ajouter un artiste</button>
        <div data-controller="carousel" class="swiper">
          <div class="swiper-wrapper">
            <% @users.each do |user| %>
              <div class="swiper-slide">
                <div class="swiper-item">
                  <div class="card bg-white p-4 rounded-lg">
                    <img src="<%= user.pola_face %>" alt="Photo d'un artiste">
                    <div>
                      <%= user.first_name %> <%= user.last_name %>
                      <%= user.address %>
                      <%= user.birth_date %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <% end %>
  </div>
</div>
<button type="button" class="rounded-full bg-terracotta-600 px-3 py-1.5 text-sm font-semibold text-black shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600">+ Ajouter une audition</button>

<%# card des derniers artistes insccrits %>
  <div  class="max-w-sm rounded overflow-hidden shadow-lg flex">
    <p><%= @users.count %></p>
    <div class="carousel">
      <% @users.each do |user| %>
          <div class="card bg-white p-4 rounded-lg">
            <img src="<%= user.pola_face %>" alt="Photo d'un artiste">
            <%= user.first_name %> <%= user.last_name %>
            <%= user.address %>
            <%= user.birth_date %>
          </div>
      <% end %>
    </div>
  </div>
  <button  type="button" class="rounded-full bg-white px-3 py-1.5 text-sm font-semibold text-terracotta-600 shadow-sm ring-1 ring-inset ring-terracotta-600 hover:bg-terracotta-50">+ Ajouter un artiste</button>

  # lien vers la page des artistes
  <%# link_to "Texte du lien", audition_artists_path(@artist) %>
    </div>
  </div>
</div>

<%= render "components/footer"%>
