<%= render "components/navbar" %>
<div class="main-container">
  <div class="">
    <h1 class="text-4xl font-extrabold dark:text-black">Hello Anne-Sophie,</h1>
    <p class="text-2xl font-extrabold dark:text-black">Bienvenue sur The Right One ! 🎬</p>
  </div>
  <div class="contain">
    <div data-controller="carousel" class="swiper">
      <div class="swiper-wrapper">
        <% @users.each do |user| %>
          <div class="swiper-slide">
            <div class="swiper-item">
              <div class="block user-card">
                <img src="<%= user.pola_face %>" alt="Photo d'un artiste" class="swiper-image picture">
                <div>
                  <%= user.prenom %> <%= user.nom %>
                  <%= user.adresse %>
                  <%= user.date_de_naissance %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="audition-users">
      <div class="audition-container block bg-white">
        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-black">Auditions les plus récentes</h2>
        <ul class="auditions">
          <% @auditions.each do |audition| %>
            <li>
              <div class="flex items-center space-x-4 rtl:space-x-reverse">
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-black">
                    <%= audition.name%>
                  </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-black">
                  <%= audition.date %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <%= link_to"+ Ajouter une audition", new_audition_path, class: "btn bg-brown" %>
      </div>
      <div class="users-container block bg-brown">
        <p><%= @users.count %> artists</p>
        <button type="button" class="rounded-full bg-white px-3 py-1.5 text-sm font-semibold text-terracotta-600 shadow-sm ring-1 ring-inset ring-terracotta-600 hover:bg-terracotta-50">+ Ajouter un artiste</button>
      </div>
    </div>
  </div>
</div>
<%= render "components/footer"%>
